@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
}
header{
    position: fixed;
    background-color: #320a45;
    width: 100%;
    height: 40px;
    padding: 12px 24px;
    color: azure;
    font-size: 23px;
    font-weight: bold;
    border-bottom: #586173 4px solid;
    z-index: 99;
}
main{
    padding-top:84px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.fixtures-section{
    position: relative;
    padding: 0 15px;
    height: auto;
}
.fixtures-wrap{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0px 2px 7px teal;
    border-radius: 10px;
}
.fixture-input{
    display: flex;
    justify-content: center;
    background-color: #3485A9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
input[type="date"]{
    width: 215px;
    text-align: center;
    height: 45px;
    font-size: 19px;
    background: none;
    color: white;
    border: none;
    font-family: 'HangeulNuri-Bold';
}
.showFixt{
    margin-top: 5px;
    display: inline-block;
    width: auto;
}
.showFixt table{
    margin: 10px 10px;
    float: left;
    padding: 0px;
    margin-bottom: 6px;
    box-shadow: 0px 1px 5px thistle inset;
    border-collapse: collapse;
    font-family: 'NIXGONM-Vb';
}

.showFixt th{
    width: 120px;
    background-color: rgb(236, 216, 216);
    padding: 6px 3px;
}
.showFixt td{
    width: 120px;
    text-align: center;
    padding: 6px 3px;
}

.showFixt td img{
    width: 35px;
    height: 35px;
}
.googleAd{
    margin: 0 auto;
}
.rank-section{
    position: relative;
    padding: 0 15px;
}
.rank-wrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 2px 7px teal;
    border-radius: 10px;
}
.leagueSelect{
    grid-column: 1/3;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.leagueSelect button{
    width: 20%;
    height: 50px;
    background: none;
    border-radius: 10px;
    border: none;
}
.leagueSelect button:hover{
    background-color: chocolate;
}

.standing-topPlayer-wrap table{
    
    box-shadow: 0px 2px 7px teal;
    margin: 20px 20px;
}

.standing-topPlayer-wrap{
    display: flex;
    justify-content: center;
}

.standing-topPlayer-wrap td img{
    width: 20px;
    height: 20px;
}

.standing-topPlayer-wrap td{
    text-align: center;
}

.topPlayer-table{
    border-collapse: collapse;
}

.topPlayer-table td img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.topPlayer-thead-tr-button th{
    width: 30%;
}

.topPlayer-tbody tr:nth-child(even){
    background-color: cadetblue;

}